/*
  	Filename: ROCA2.css
  	Author: Annie Khuu
  	Email: ak6eh@virginia.edu
 */
@charset "ISO-8859-1";
html {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

body {
	height: 50%;
	flex-grow: 1;
	font-family: "Arial";
}


/* DIV FORMAT AND STYLING */
.body_content {
	height: 100%;
	display: grid;
	grid-template-columns: 24% 52% 22%;
	grid-gap: 1%;
	
}

.left_side {
	display: flex;
	flex-direction: column;	
}

.middle {
	display: grid;
	grid-template-rows: 30% 69%;
	grid-gap: 1%;
}

/* Container for activities and events inputs */
.ae_inputs {
	height: 100%;
	display: grid;
	grid-template-columns: 32% 32% 32%;
	column-gap: 2%;
}

.right_side {
	border: solid;
	display: flex;
	flex-direction: column;
	border-color: #DCDCDC;
}

.top_middle {
}

.bottom_middle {
}

.map_and_buttons {
	height: 99%;
	border: solid;
	display: grid;
	grid-template-rows: 80% 20%;
	border-color: #DCDCDC;
}


#feedback_container {
	flex-grow: 1;
	overflow: scroll;
	max-height: 96.5%;
	max-width: 100%;
	white-space:nowrap;
	margin-top: 1%;
	outline: solid;
	outline-color: #DCDCDC;
}

#interval_content {
	flex-grow: 1;
	margin-top: 1%;
	outline: solid;
	outline-color: #DCDCDC;
	height: 90%;
	display: flex;
	flex-direction: column;
}

#interval_timer {
	text-align: center;
	color: #505050;
	margin: 10%;
}

#interval_readings_form {
	flex-grow: 1;
	display: grid;
	height: 90%;
	
}

#Pedagogical_Strategies {
	
	margin: 1%;
	border: dotted;
	border-color: #DCDCDC;
}

#Instructional_Technologies {
	margin: 1%;
	border: dotted;
	border-color: #DCDCDC;
}

#Student_Engagement {
	margin: 1%;
	border: dotted;
	border-color: #DCDCDC;
}

.Student_Activities {
	border: solid;
	border-color: #DCDCDC;
	background: #DCDCDC;
}

.Instructor_Activities {
	border: solid;
	border-color: #DCDCDC;
	background: #DCDCDC;
}

.Instructor_Events {
	border: solid;
	border-color: #DCDCDC;
	display: flex;
	flex-direction: column;
	background: #DCDCDC;
}

#instructor_events_form {
	flex-grow: 1;
	outline: solid;
	outline-color: #DCDCDC;
	height: 90%;
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	margin-top: 2%;
}

.start_end_buttons {
	background: #DCDCDC;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.classroom_mapping {
	background-image: url("MEC-341.jpg");
	background-size: 100% 100%;
}

#student_events_form {
	
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 40% 60%;
}

.quadrant {
	border: solid; 
    border-color: orange;
}

.quad_num {
	text-align: center;
	font-weight: bold;
    font-size: xx-large;
    color: orange;
}

/* Text area where # of students is displayed */
.increment_stud {
	background: white;
	width: 30%;
	padding-right: 1%;
}

.quadrant_inputs {
	height: 100%;
	width: 100%;
	z-index: 2;
}

/* Header and sub-header styling */
.header {
	outline: solid;
	/*
	outline-color: #FFFF99;
	background: #FFFF99;
	*/
	outline-color: #FF8C00;
	background: #FF8C00;
	color: white;
	text-align: center;
}

.subheader {
	outline: solid;
	/*outline-color: #FFFFCC;
	background: #FFFFCC;*/
	outline-color: #FFA500;
	background: #FFA500;
	color: white;
	text-align: center;
}

/* BUTTONS AND FORM INPUT ELEMENTS*/
.checkbox-grid li {
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 4%;
}

.input_button {
	width: 100%;
}

#start_button {
	font-size: x-large;
	width: 20%;
}
#reset_button {
	font-size: x-large;
	width: 20%;
}
#end_button {
	font-size: x-large;
	width: 20%;
}

.inc_button {
	width: 98%;
	font-size: x-large;
}

.inS_text {
	width: 90%;
	margin: 0;
	padding: 0;
	font-size: x-large;
}
#student_activities_select {
	width: 100%;
	font-size: large;
	margin-top: 2%;
}

#instructor_activities_select {
	width: 100%;
	font-size: large;
	margin-top: 2%;
}

#sub_menu {
	width: 100%;
	font-size: large;
}

#dump_data_frame {
	display: none;
}
